.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: outset   
    
  }
  img {
    max-width: 100%
  }
  .image {
    flex-basis: 40%
  }
  .text {
    font-size: 20px;
    padding-left: 20px;
  }