.card {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    width: 80vw;
    min-height: 15vh;
    background-color: bisque;
}

.card p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}